/* set display direction for the elements in tweets-container*/
#tweets-container {
  display: flex;
  flex-direction: column;
}
/* set ariticle display and the border */
article.tweet {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  border-radius: 0.7em;
  border: 0.2em solid #545149;
}
/* set ariticle display */
article.tweet p {
  margin: 0.5em;
  padding: 0.5em;
  border-bottom:  0.2em solid #545149;
}
/* set user name layout */
div.userName {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* set the user name and user image margin */
div.userName span{
  margin-left: 0.5em;
}
/* set time colour */
footer .time {
  color: #545149;
}
/* set header display */
article.tweet header {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* set user name display */
header .handle {
  color: gainsboro;
}
/* set footer display */
article.tweet footer {
  margin:0 1.5em;
  display: flex;
  color: #4056A1;
  justify-content: flex-end;
  align-items: center;
}
/* set margin for icons */
article.tweet footer i {
  display: flex;
  margin: 0.4em;
}
/* create box shadow for border */
article.tweet:hover {
  box-shadow: 8px 8px darkgrey;
}
/* set color when icon is hovered */
article.tweet footer i:hover {
  color: peru;
}
/* set time display position */
article.tweet .time {
  font-size: 0.7em;
  margin-right: auto;
}